<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        .loading {
            display: none;
        }
    </style>
</head>

<body class='loading'>
    <header>
        <h1>Jakab's Tiny Sequencer</h1>
    </header>

    <main>
        <section id='scroll-wrapper'></section>
        <section id='instrument-switch-ctrls'></section>
    </main>

    <footer id='ctrls'>
        <span id='rewind-ctrl' class='rewind'>◀</span>
        <span id='play-ctrl' class='paused'>❚❚</span>
        <span id='save-modal-ctrl' data-micromodal-trigger='modal-save'>💾</span>
        <span id='settings-modal-ctrl' data-micromodal-trigger='modal-settings'>⚙</span>
        <label id='tempo-ctrl'>
            fast <input alt='Tempo' type='range' id='tempo-ms' min=100 max=1000 step=25 value=${this.tempoMs}> slow
        </label>
        <label>Short notes:<input type='checkbox' id='stop-notes' /></label>
    </footer>

    <aside id="modal-settings" aria-hidden="true" class='modal'>
        <div tabindex="-1" data-micromodal-close>
            <div class='modal-inner' role="dialog" aria-modal="true" aria-labelledby="modal-settings-title">
                <header>
                    <h2> Settings </h2>
                </header>
                <div class="modal-content">

                    <fieldset>
                        <label>Beats per bar</label>
                        <select id='beats-per-bar-ctrl'>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='7'>7</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label>Total bars</label>
                        <select id='total-bars-ctrl'>
                            <option value='4'>4</option>
                            <option value='8'>8</option>
                            <option value='12'>12</option>
                            <option value='24'>24</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label>Musical scale</label>
                        <select id='scale-ctrl'>
                        </select>
                    </fieldset>

                </div>

                <footer>
                    <button aria-label="Close modal" data-micromodal-close>Close</button>
                </footer>
            </div>
        </div>
    </aside>

    <aside id="modal-save" aria-hidden="true" class='modal'>
        <div tabindex="-1" data-micromodal-close>
            <div class='modal-inner' role="dialog" aria-modal="true" aria-labelledby="modal-settings-title">
                <header>
                    <h2> Save </h2>
                </header>
                <div class="content">

                    <fieldset>
                        <p>Copy and paste this link to share or replay your music:</p>
                        <p>
                            <input type='text' id='save-modal-uri' style='width:100%; font-size: 150%;' click='this.select();this.setSelectionRange(0, this.value.length)'>
                        </p>
                    </fieldset>
                </div>

                <footer>
                    <button aria-label="Close modal" data-micromodal-close>Close</button>
                </footer>
            </div>
        </div>
    </aside>
</body>

</html>