:root {
    --borders: hsla(283, 28%, 50%, .5);
    --noteBg: #f2740c;
    --beatBg: hsla(283, 28%, 50%, .5);
    --ctrlBg: #66a;
    --pageBg: hsl(295, 71%, 22%);
    color: white;
}

body {
    background: var(--pageBg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main {
    -webkit-overflow-scrolling: touch;
    /* border: 3px solid var(--borders); */
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.play-ctrl {
    position: absolute;
    bottom: 0;
    border: 3px double;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    color: white;
    margin: 2em;
    cursor:pointer;
}

.playing {
    background: red;
    border-color: red;
}

.paused {
    background: green;
    border-color: green;
}

canvas {
    position: absolute;
    top: 0; 
    left: 0;
}