@import url('https://fonts.googleapis.com/css?family=Sunshiney&display=swap');

:root {
    --pageBg: #421383;
    color: white;
}

*:focus {
    outline: none;
}

body {
    background: var(--pageBg);
    overflow: auto;
}

h1,
h2 {
    font-family: 'Sunshiney', cursive;
    opacity: 0.5;
    text-align: center;
}

#scroll-wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    /* overflow-y: auto; */
    overflow: auto;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
}

@media only screen and (min-width: 1000px) {
    canvas {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

#tick,
#score {
    pointer-events: none;
}

.notes {
    z-index: 50;
}

.activeInstrument {
    z-index: 100;
}

#ctrls {
    position: fixed;
    bottom: 0;
    z-index: 100;
    font-size: 14pt;
}

@media only screen and (min-width: 1000px) {
    #ctrls {
        font-size: 24pt;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

#ctrls span,
#ctrls fieldset {
    float: left;
    padding: 0.2em;
    text-align: center;
    color: white;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#ctrls span {
    position: relative;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
}

#tempo-ctrl {
    width: auto;
    font-size: 12pt;
    white-space: nowrap;
}

#tempo-ctrl>* {
    vertical-align: middle;
}

/* 
#play-ctrl { }
#save-ctrl { }
.playing { }
.paused { } 
*/