:root {
    --borders: hsla(283, 28%, 50%, .5);
    --noteBg: hsla(27, 90%, 50%, 1);
    --beatBg: hsla(283, 28%, 50%, .5);
    --ctrlBg: #66a;

    background: hsl(295, 71%, 22%);
    color: white;
}

main {
    -webkit-overflow-scrolling: touch;
    /* border: 3px solid var(--borders); */
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

section.bar {
    flex: 0 0 auto;
    border: 2px double var(--borders);
    display: inline-block;
}

section.bar:hover {
    background: var(--barBg);
}

div {
    border: 1px dashed var(--borders);
    display: inline-block;
}

.octave {
    border: 1px solid var(--borders);
    display: block;
}

span {
    margin: 1pt;
    border: 1px dotted var(--borders);
    display: block;
    width: 2vw;
    height: 2vh;
    overflow: hidden;
    font-size: 8pt;
}

.note:hover {
    background: var(--borders);
}

.note.play {
    background: var(--noteBg);
    border-radius: 30%;
}

.currentBeat {
    background: var(--beatBg);
}

.play-ctrl {
    border: 3px double;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: fixed;
    color: white;
    margin: 2em;
    cursor:pointer;
}

.playing {
    background: red;
    border-color: red;
}

.paused {
    background: green;
    border-color: green;
}